.fit_width{
  width: -webkit-fill-available;
}

.bscroll{
  position: relative;
  overflow: hidden;
}

.content{
  height: calc(100% - 0.9rem) !important;
  &.dark{
    background-color: var(--background-color-dark-2, #595959);

    .title{
      text-indent: 32px;
      color: var(--background-color-light, #fafafa);
    }
    .card_desc{
      color: var(--background-color-light-2, #f5f5f5);
    }
  }
  &.light{
    background-color: var(--background-color-light-2, #f5f5f5);
    .title{
      text-indent: 32px;
      color: var(--background-color-dark, #262626);
    }
    .card_desc{
      color: var(--background-color-dark-2, #595959);
    }
  }
}

.scroll_horizontal{
  scroll-behavior: smooth;
  display: inline-block;
  position: relative;
  z-index: 1;
  .horizontal{
    display: flex;
    width: 30rem;
    .card{
      display: flex;
      flex: 1 0 6rem;
      flex-direction: column;
      padding: 16px;
      .card_media{
        .card_thumb{
          width: -webkit-fill-available;
        }
      }
      .card_desc{
      }
    }
  }
}

.thumb{
  border-radius: 8px;
}

.foot_fit{
  width: -webkit-fill-available;
  margin: 32px 0;
}
