<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name=apple-mobile-web-app-status-bar-style content="black" />
    <meta name=apple-touch-fullscreen content=yes />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="//at.alicdn.com/t/font_999277_a0m79bwtapd.js"></script>
    <title>教师端</title>
</head>
<body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
</body>
</html>
