html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling:touch;

  ul,
  ol {
    list-style: none;
  }

  .fill{
    flex: 1;
  }

  img.lazy-load[data-src] {
    filter: blur(0.2rem);
  }

  img.lazy-load {
    filter: blur(0);
    transition: filter 0.5s;
  }

  .am-tabs-tab-bar-wrap{
    background-color: #fff;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
  .am-popover-item-icon{
    .icon{
      width: inherit;
      height: inherit;
    }
  }

  .am-navbar{
    .am-navbar-title{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .icon {
    width: 0.5rem;
    height: 0.5rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    +.icon{
      margin-left: 16px;
    }
  }
}

:root {
  --background-color-dark: #262626;
  --background-color-dark-2: #595959;
  --background-color-light: #fafafa;
  --background-color-light-2: #f5f5f5;
  --brand-primary: #13c2c2;
  --brand-primary-tap: #08979c;
  --brand-primary-ondark: #e6fffb;
}
